{% extends "layout.html" %}
{% block content %}
<table>
    {% for item in info %}
    <tr><td class="attr-name">{{ item[0] }}</td><td>{{ item[1] }}</td></tr>
    {% endfor %}
    <tr><td class="attr-name">Actions</td><td><a href="/task/reset_all">Reset all tasks</a></td></tr>
</table>
{% if active_connections %}
<br>
<div>Active connections:</div>
<table>
    <tr><th>id</th><th>Acquired</th><th>User</th><th>Target</th><th>Statement</th><th>Action</th></tr>
    {% for item in active_connections.keys() -%}
    <tr>
        <td>{{ item }}</td>
        <td>{{ active_connections[item][1].strftime(config['DATETIME_FORMAT']) }}</td>
        <td>{{ active_connections[item][2]}}</td>
        <td>{{ active_connections[item][3]}}</td>
        <td>{{ active_connections[item][4]}}</td>
        <td>{% if active_connections[item][5] %}{{active_connections[item][5] }}{% else %}<a href="/cancel_sql?id={{ item }}">Cancel</a>{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if task_pool %}
<br>
<div>Active tasks:</div>
{% include 'flashed.html' %}
<table>
    <tr><th>id</th><th>Name</th><th>Created</th><th>User</th><th>Target</th><th>Last call</th><th>Period</th><th>Execs</th><th>State</th><th>Parameters</th><th>Action</th></tr>
    {% for task in task_pool.values() -%}
    <tr>
        <td class="{% if task_id == task.uuid %}selected{% endif %}"><a href="/task/browse?id={{ task.uuid }}">...{{ task.uuid[-8:] }}</a></td>
        <td>{{ task.name }}</td>
        <td>{{ task.create_date.strftime(config['DATETIME_FORMAT']) }}</td>
        <td>{{ task.user_name }}</td>
        <td>{{ task.target }}</td>
        <td>{% if task.last_call is not none %}{{ task.last_call.strftime(config['DATETIME_FORMAT']) }}{% endif %}</td>
        <td>{{ task.period }}</td>
        <td align="right">{{ '{:,}'.format(task.execs).replace(',', ' ') }}</td>
        <td>{{ task.state }}</td>
        <td><a href="/task/browse?id={{ task.uuid }}">{{ task.parameters.values()|join(', ') }}{% if task.optional %}; {{task.optional.values()|join(', ') }}{% endif %}</a></td>
        <td><a href="/task/cancel?id={{ task.uuid }}" onclick="return confirm('The task will be removed. This action cannot be undone.')">cancel</a>{% if task.state.endswith('error') %}, <a href="/task/reset?id={{ task.uuid }}">reset</a>{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock%}